.section-min-height {
  min-height: calc(100vh - 72px);
}

.style-one {
  & > div {
    @apply rotate-180 bg-transparent;
  }
  & > div::before {
    @apply translate-y-0 rotate-45;
  }
  & > div::after {
    @apply translate-y-0 -rotate-45;
  }
}

.animate-open-menu {
  animation: open-menu 1s;
}

@keyframes open-menu {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@media (min-width: 1536px) {
  .section-min-height {
    min-height: calc(100vh - 112px);
  }
}
